body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: azure;
}
.title-text {
  color: black;
  text-align: center;
}
.grand-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 64px;
}
.container {
  width: 45%;
  border: 1px solid rgb(240, 240, 128);
  padding: 16px;
}
.box-number {
  width: 64px;
  height: 64px;
  padding: 8px;
  border: 1px solid rebeccapurple;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.align-content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box-number:hover {
  background-color: blueviolet;
  color: aliceblue;
  transition: ease-in 0.5s;
}
.numpad {
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .box-number {
    width: 32px;
    height: 32px;
  }
}
